p {
    color:whitesmoke;
    font-family:'Italianno';
    font-size:x-large
}
body{
    background-color:black
}
h4{
    color:rgb(220, 218, 218)

}
ul{
    color:rgb(78, 226, 33)

}
h1{
    color:rgb(245, 245, 245)
}
a{
    color:rgb(245, 245, 245)
}
.text-family {
    color:white
}

